// Import page-specific CSS files here.
@import "home";

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  margin: 0;
}

h1, h2, h3 {
  text-align: center;
}

h6 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:400;
  font-size: 40px;
  color: rgb(22, 22, 22);
}
