<div class="booking-background-color">
<div class="booking-host">
  <h6>Your host is <%= @booking.work_space.user.first_name %></h6>
</div>
<div class="card-booking" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.coworkingbrasil.org/coworkingbrasi/wp-content/uploads/2019/06/1-salao-coworking.jpg?cx=center&cy=center&scale.option=fill&w=1200&cw=1200&h=628&ch=628)">


<div>
  <%= render @booking %>
</div>


</div>
  <div class="btn-show">
    <%= link_to "Back to bookings", work_space_bookings_path(@booking.work_space), class: "btn btn-secondary w-100" %>
  </div>
</div>
