<h3>Booking Info</h3>

<p>Your host is </p><%= @booking.work_space.user.first_name %>


<%= render @booking %>



<div>
  <%= link_to "Back to bookings", work_space_bookings_path(@booking.work_space) %>
</div>
