<div class="footer">
  <div class="footer-links justify-content-center">

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>

  </div>
  <div>
  <span class="footer-year">2022</span>
  <span class="footer-dot">·</span>
  <a href="/terms/privacy_policy" class="footer-text">Privacidade</a>
  <span class="footer-dot">·</span>
  <a href="/terms/privacy_policy" class="footer-text">Termos</a>
  <span class="footer-dot">·</span>
  <a href="/terms/privacy_policy" class="footer-text">Mapa do site</a>
  <span class="footer-dot">·</span>
  <a href="/terms/privacy_policy" class="footer-text">Informações da empresa</a>
  </div>
</div>
