<div id="<%= dom_id work_space %>">
  <p>
    <strong>Name:</strong>
    <%= work_space.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= work_space.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= work_space.phone_number %>
  </p>
</div>
