<div id="<%= dom_id work_space %>">

    <strong>Name:</strong>
    <%= work_space.name %>

    <strong>Price:</strong>
    <%= work_space.price %>


    <strong>Description:</strong>
    <%= work_space.description %>

</div>
