<div class="home-container">
  <div class='home-grid'>
    <%= render @work_spaces %>
  </div>
  <%# <div %>
    <%# data-controller="map" %>
    <%# data-map-markers-value="<%= @markers.to_json %>
    <%# data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>
  <%# </div> %>
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.346,48.8595,11.72,0,0/600x1000?access_token=pk.eyJ1Ijoibmljb2xhc2VubmUiLCJhIjoiY2toNm8yb3Z0MHQyMjJybzgxa280dzF3biJ9.GkpyEigPvwIgsYgkZx4NtQ'>
</div>
